@inject Services.AuthenticationService AuthService
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization

@page "/admin"
@* @attribute [Authorize] *@
@attribute [Authorize(Policy = "IsAllowedPolicy")]

<h3>Admin</h3>

@code {

}
